version: 2
jobs:
  build:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}
      - run:
          name: "Install setup.py"
          command: |
            python -m venv .venv;
            . .venv/bin/activate
            pip install "cython<3.0.0" wheel && pip install pyyaml==5.4.1 --no-build-isolation
            pip install -U pip
            pip install -e .[tests]

      - save_cache: &save_cache
          key: v5-{{ .Branch }}-{{ checksum "setup.py" }}
          paths:
            - ~/project/.venv
            - ~/.cache/pip

  check_linting:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}
      - run:
          name: "Check Linting"
          command: |
            . .venv/bin/activate
            flake8 vortexasdk tests docs

  check_types:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}
      - run:
          name: "Check Types"
          command: |
            . .venv/bin/activate
            mypy vortexasdk tests docs

  check_formatting:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}
      - run:
          name: "Check Formatting"
          command: |
            . .venv/bin/activate
            black --check vortexasdk tests

  test-documentation:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: "Run doctests"
          command: |
            . .venv/bin/activate
            # This should be done in tox, but i can't work out how to run doctests in tox hence we're also running it here for now.
            pytest -v --doctest-modules --ignore=tests

      - run:
          name: "Confirm that the check_setup script works"
          command: |
            . .venv/bin/activate
            python -m vortexasdk.check_setup

      - run:
          name: "Build docs"
          command: |
            . .venv/bin/activate
            mkdir -p ./_build/pydocmd/examples
            python docs/autogen.py
            pydocmd build

  run-examples:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    resource_class: large
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: "Run all examples"
          command: |
            set -xe
            . .venv/bin/activate
            for f in docs/examples/*.py; do cp -v -- "$f" "$f-example.py"; done
            cp docs/examples/*-example.py .
            for f in *-example.py; do python "$f"; done
            rm docs/examples/*-example.py
            rm *-example.py

      - run:
          name: "Create mybinder virtual environment"
          command: |
            # mybinder currently does not install the extras_require in setup.py
            # to replicate the mybinder environment, we install only the packages that mybinder installs
            # For more details, see https://mybinder.readthedocs.io/en/latest/using/config_files.html#setup-py-install-python-packages
            python -m venv .mybinder_venv;
            . .mybinder_venv/bin/activate
            pip install -U pip
            pip install -e .[binder]

      - run:
          name: "Run all mybinder try-me-out notebooks"
          command: |
            . .mybinder_venv/bin/activate
            jupyter nbconvert --to notebook --execute docs/examples/try_me_out/*.ipynb

      - run:
          name: "Run all mybinder academy notebooks"
          command: |
            . .mybinder_venv/bin/activate
            jupyter nbconvert --to notebook --execute docs/examples/academy/*.ipynb

  test:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}

      - run:
          name: "Run all tests"
          command: |
            . .venv/bin/activate
            pip install tox
            tox --verbose

  check-release-version:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}
      - run:
          name: "Check proposed release version is valid next semver"
          command: |
            . .venv/bin/activate
            python scripts/validate_proposed_package_version.py

  deploy:
    working_directory: ~/project
    docker:
      - image: cimg/python:3.11.4
    steps:
      - checkout
      - restore_cache: &restore_cache
          keys:
            - v5-{{ .Branch }}-{{ checksum "setup.py" }}
      - add_ssh_keys:
          fingerprints:
            - "SHA256:p5tevUJP7lVgxHvYWpKLbRWnCeIjYvApIL8xG0eeLU0"
      - run:
          name: "Deploy new documentation to github pages"
          command: |
            . .venv/bin/activate
            mkdir -p ./_build/pydocmd/examples
            python docs/autogen.py
            pydocmd build
            pydocmd gh-deploy
      - run:
          name: "Deploy package to pypi"
          command: |
            . .venv/bin/activate
            pip install -e .[deploy]
            rm -rf dist
            python setup.py sdist bdist_wheel
            python -m twine upload -u $TWINE_USERNAME -p $TWINE_PASSWORD dist/*
      - run:
          name: "Tag the release with git"
          command: |
            . .venv/bin/activate
            TAG=$(python setup.py --version)
            git config --global user.email "developers@vortexa.com"
            git config --global user.name "CircleCI"
            git tag -a $TAG -m "New tag $TAG"
            git push --tags

workflows:
  version: 2
  build-deploy:
    jobs:
      - build

      - check_types:
          requires:
            - build

      - check_linting:
          requires:
            - build

      - check_formatting:
          requires:
            - build

      - test:
          requires:
            - build

      - test-documentation:
          requires:
            - build

      - run-examples:
          requires:
            - build

      - check-release-version:
          requires:
            - build

      - deploy:
          filters:
            branches:
              only:
                - master
          requires:
            - test
            - test-documentation
            - run-examples
            - check_types
            - check_linting
            - check_formatting
            - check-release-version
